.docker/
.composer/
.git/
.gitattributes
.github/
.gitignore
**/.gitignore
**/.gitkeep
bootstrap/cache/*
database/*.sqlite
.env
docker-compose.yml
Dockerfile
.dockerignore
node_modules/
npm-debug.log*
public/storage
results/
storage/app/public/*
storage/debugbar/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
vendor/
yarn-error.log
